@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    max-width: 50em;
    margin: 0 auto;
    line-height: 1.5;
    padding: 1em;
    color: #303a41;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

hr {
    color: #ddd;
}

/* Footer */
footer {
    margin-top: 4em;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-inner p {
    padding-left: 1em;
    padding-right: 1em;
}

/* Nav Bar */
.nav {
    margin: 0;
    padding: 0;
}

.nav-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-inner a {
    font-weight: 500;
    text-decoration: none;
}


h1,h2,h3,strong {
    color: #333;
    font-weight: 400;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

/* Code */
pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
    overflow-x: auto;
}

pre code {
    background: none;
}

code {
    background: #f9f9f9;
    font-family: "Lucida Console", Monaco, monospace;
}


a {
    color: #e81c4f;
    text-decoration: none;
}


/* Main */
.list-item h3,
.list-item p {
    margin: 0.2em 0;
    padding: 0;
}

.list-item {
    margin-bottom: 2em;
}

.list-item a {
    color: #566b78;
    font-weight: 400;
}


.list-item a:hover {
    color: #e81c4f;
}

.container {
    display: flex;
    display: -webkit-flex;
    align-items: baseline;
}

.container p {
    margin-left: 1em;
}

/* Contact Form */
label {
    display: inline-block;
}

.controls {
    width: 80%;
}

input {
    width: 40%;
    border: 0;
    padding: 0.5em;
    border-radius: 3px;
    margin-bottom: 5px;
    color: #000;

    border: 2px;
    border-color: #ddd;
    border-style: solid;
}

textarea {
    padding: 0.5em;
    margin-bottom: 5px;

    border: 2px;
    border-color: #ddd;
    border-style: solid;
    
    border-radius: 3px;

    width: 100%;
}

.button {
    width: 50%;
    border-radius: 3px;
    background: #ddd;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Misc */
img {
    width: 100%;
    /*
    max-width: 50em;
    max-height: 25em;
    */
}

