<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}/project">Projects</a></li>
            <li><a href="{{ .Site.BaseURL }}/post">Posts</a></li>
            <li><a href="https://github.com/byronwasti">Github</a></li>
            <li><a href="{{ .Site.BaseURL }}/Resume.pdf">Resume</a></li>
        </ul>
    </div>
