<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
</head>

<body>
    <div class="nav">
        <div class="nav-inner">
            <a href="{{ .Site.BaseURL }}">Home</a>
            <a href="{{ .Site.BaseURL }}/project">Projects</a>
            <a href="{{ .Site.BaseURL }}/post">Posts</a>
            <a href="https://github.com/byronwasti">Github</a>
            <a href="{{ .Site.BaseURL }}/Resume.pdf">Resume</a>
        </div>
    <hr/>
    </div>
