{{ partial "header.html" . }}

<h1>{{ .Site.Title }}</h1>
<h2>About Me</h2>

{{ .Content }}

<div class="container">
<h2>Projects</h2>
<p><a href="{{ .Site.BaseURL }}/project">[View All]</a></p>
</div>

<div class="list-container">
{{ range first 4 (where .Data.Pages "Section" "project") }}
    <div class="list-item">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Description }}</p>
    </div>
{{ end }}
</div>

<p><a href="{{ .Site.BaseURL }}/project">[View More]</a></p>

<div class="container">
<h2>Posts</h2>
<p><a href="{{ .Site.BaseURL }}/post">[View All]</a></p>
</div>

<div class="list-container">
{{ range first 4 (where .Data.Pages "Section" "post") }}
    <div class="list-item">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Description }}</p>
    </div>
{{ end }}
</div>

<p><a href="{{ .Site.BaseURL }}/post">[View More]</a></p>

<div class="container">
<h2>Contact</h2>
</div>

<div class="list-container">
    <div class="list-item">
        <p><a href="mailto:byron.wasti@gmail.com">byron.wasti@gmail.com</a></p>
    </div>
    <div class="list-item">
        <p><a href="https://www.linkedin.com/in/byron-wasti-595b23a4">Linkedin</a></p>
    </div>

    <div class="list-item">
    {{ partial "formspree.html" . }}

    </div>
</div>

{{ partial "footer.html" . }}
